*{
    margin:0;
    padding:0;
}
header{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #488ee9f5;
    
     color: white;
     
}

.logo img{
    max-height: 160px
    
}
h1{
    text-shadow: 2px 2px 4px #ede4e4;
    font-style: italic;
    color: rgb(9, 9, 127);
    font-size: 60px;
    padding-left: 2px;
    margin-left: auto;font-weight: bold;


}
.p1{
    font-size: 20px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.college.info{
    margin-left: 20px;
    
}

nav{
    text-align: center;
    font-style: italic;
    margin-top:15px;
    font-weight: bolder;
    font-size: 45px;
    color:white;
    text-shadow: 2px 4px rgb(19, 1, 1);
    background: url(newwwww.jpg);
    padding:20px
  
}
.menu{
    display: flex;
    list-style: none;
    padding: 10px;
}
.menu li{
    margin-left: 20px;
}
.menu a{
    color:rgb(251, 245, 245);
    text-decoration: none;
    font-weight: bold;
  
}
.submenu{
    display: none;
    position:absolute;
    background-color: #02201cfb;
    list-style: none;
    padding:10px;
}
.dropdown:hover .submenu{
    display:block;
}
.submenu li{
    margin: 5px 0;
}
li a:hover{
    background-color: rgba(255, 255, 255, 0.473);
    color: rgb(255, 249, 249);
}
footer{
    margin-top: auto;
    background-color: #d6c7c791;
    color: white;
    text-align: center;
    padding: 10px;

}
.social-media img{
    height: 25px;
margin: 0 30px;
}
.h2{
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    margin-top: 5px;
    margin-left:6px;

}
.p2{
    text-align: justify;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius:10px;
    padding:5px;
    margin:20px;
}
.p3{
    text-align: justify;
    color: rgb(67, 21, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius:10px;
    padding:5px;
    margin:20px;
    font-size:20px;
}
